<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Item34</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>title</key>
		<string>Stairs to 2nd floor</string>
		<key>latitude</key>
		<string>37.418195</string>
		<key>longitude</key>
		<string>-122.025184</string>
	</dict>
	<key>Item29</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>title</key>
		<string>Food Lines</string>
		<key>latitude</key>
		<string>37.418095</string>
		<key>longitude</key>
		<string>-122.024638</string>
	</dict>
	<key>Item25</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>title</key>
		<string>Tables near utensils</string>
		<key>latitude</key>
		<string>37.417902</string>
		<key>longitude</key>
		<string>-122.024737</string>
	</dict>
	<key>Item26</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>title</key>
		<string>Tables near dish drop</string>
		<key>latitude</key>
		<string>37.417930</string>
		<key>longitude</key>
		<string>-122.024996</string>
	</dict>
	<key>Item24</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>latitude</key>
		<string>37.417831</string>
		<key>longitude</key>
		<string>-122.024616</string>
		<key>title</key>
		<string>Tables next to drink refrigerator</string>
	</dict>
	<key>Item23</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>title</key>
		<string>URLs Store</string>
		<key>latitude</key>
		<string>37.418281</string>
		<key>longitude</key>
		<string>-122.024937</string>
	</dict>
	<key>Item22</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>title</key>
		<string>Tables near D</string>
		<key>latitude</key>
		<string>37.417593</string>
		<key>longitude</key>
		<string>-122.024868</string>
	</dict>
	<key>Item21</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>title</key>
		<string>Tables next to FYI stage</string>
		<key>latitude</key>
		<string>37.417883</string>
		<key>longitude</key>
		<string>-122.025065</string>
	</dict>
	<key>Item20</key>
	<dict>
		<key>title</key>
		<string>Tables near A</string>
		<key>connector</key>
		<string>the</string>
		<key>latitude</key>
		<string>37.418137</string>
		<key>longitude</key>
		<string>-122.025680</string>
	</dict>
	<key>Item19</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>title</key>
		<string>Tables near the gym</string>
		<key>latitude</key>
		<string>37.418484</string>
		<key>longitude</key>
		<string>-122.025220</string>
	</dict>
	<key>Item18</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>title</key>
		<string>Tables near the lawn</string>
		<key>latitude</key>
		<string>37.417830</string>
		<key>longitude</key>
		<string>-122.025333</string>
	</dict>
	<key>Item17</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>title</key>
		<string>URLs A/B Entrance</string>
		<key>latitude</key>
		<string>37.418082</string>
		<key>longitude</key>
		<string>-122.025277</string>
	</dict>
	<key>Item16</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>title</key>
		<string>Dish Drop</string>
		<key>latitude</key>
		<string>37.418004</string>
		<key>longitude</key>
		<string>-122.024915</string>
	</dict>
	<key>Item15</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>title</key>
		<string>Basketball Courts</string>
		<key>latitude</key>
		<string>37.418854</string>
		<key>longitude</key>
		<string>-122.024892</string>
	</dict>
	<key>Item14</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>title</key>
		<string>Lawn</string>
		<key>latitude</key>
		<string>37.417947</string>
		<key>longitude</key>
		<string>-122.025523</string>
	</dict>
	<key>Item13</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>title</key>
		<string>URLs D Entrance</string>
		<key>latitude</key>
		<string>37.417760</string>
		<key>longitude</key>
		<string>-122.024987</string>
	</dict>
	<key>Item12</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>title</key>
		<string>Utensils Area</string>
		<key>latitude</key>
		<string>37.417950</string>
		<key>longitude</key>
		<string>-122.024760</string>
	</dict>
	<key>Item11</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>title</key>
		<string>Fountain</string>
		<key>latitude</key>
		<string>37.417442</string>
		<key>longitude</key>
		<string>-122.025342</string>
	</dict>
	<key>Item10</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>longitude</key>
		<string>-122.024920</string>
		<key>latitude</key>
		<string>37.417654 </string>
		<key>title</key>
		<string>BBQ Grills</string>
	</dict>
	<key>Item9</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>title</key>
		<string>FYI Stage</string>
		<key>latitude</key>
		<string>37.417962 </string>
		<key>longitude</key>
		<string>-122.025168</string>
	</dict>
	<key>Item8</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>title</key>
		<string>Ice Cream Machine</string>
		<key>latitude</key>
		<string>37.417888</string>
		<key>longitude</key>
		<string>-122.024425</string>
	</dict>
	<key>Item7</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>title</key>
		<string>Espresso Bar</string>
		<key>latitude</key>
		<string>37.418134</string>
		<key>longitude</key>
		<string>-122.024956</string>
	</dict>
	<key>Item6</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>title</key>
		<string>Gym</string>
		<key>latitude</key>
		<string>37.418371</string>
		<key>longitude</key>
		<string>-122.024827</string>
	</dict>
	<key>Item5</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>title</key>
		<string>Drink Refrigerator</string>
		<key>latitude</key>
		<string>37.417794 </string>
		<key>longitude</key>
		<string>-122.024502</string>
	</dict>
	<key>Item1</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>longitude</key>
		<string>-122.024386</string>
		<key>latitude</key>
		<string>37.418590</string>
		<key>title</key>
		<string>the Garage</string>
	</dict>
	<key>Item2</key>
	<dict>
		<key>connector</key>
		<string></string>
		<key>latitude</key>
		<string>37.417762 </string>
		<key>longitude</key>
		<string>-122.025911</string>
		<key>title</key>
		<string>Building A</string>
	</dict>
	<key>Item3</key>
	<dict>
		<key>connector</key>
		<string></string>
		<key>latitude</key>
		<string>37.418956</string>
		<key>longitude</key>
		<string>-122.025768</string>
		<key>title</key>
		<string>Building B</string>
	</dict>
	<key>Item4</key>
	<dict>
		<key>connector</key>
		<string></string>
		<key>latitude</key>
		<string>37.417299</string>
		<key>longitude</key>
		<string>-122.025054</string>
		<key>title</key>
		<string>Building D</string>
	</dict>
</dict>
</plist>
