<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New item - 14</key>
	<dict>
		<key>longitude</key>
		<string>-122.025846</string>
		<key>latitude</key>
		<string>37.416503</string>
		<key>connector</key>
		<string>the</string>
		<key>title</key>
		<string>Street</string>
	</dict>
	<key>New item - 13</key>
	<dict>
		<key>longitude</key>
		<string>-122.024458</string>
		<key>latitude</key>
		<string>37.416735</string>
		<key>connector</key>
		<string>the</string>
		<key>title</key>
		<string>Street</string>
	</dict>
	<key>New item - 12</key>
	<dict>
		<key>longitude</key>
		<string>-122.024166</string>
		<key>latitude</key>
		<string>37.417592</string>
		<key>connector</key>
		<string>the</string>
		<key>title</key>
		<string>Street</string>
	</dict>
	<key>New item - 11</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>longitude</key>
		<string>-122.026166</string>
		<key>latitude</key>
		<string>37.418969</string>
		<key>title</key>
		<string>Building B Parking Lot</string>
	</dict>
	<key>New item - 9</key>
	<dict>
		<key>longitude</key>
		<string>-122.025028</string>
		<key>latitude</key>
		<string>37.416544</string>
		<key>title</key>
		<string>Building D Parking Lot</string>
		<key>connector</key>
		<string>the</string>
	</dict>
	<key>New item - 10</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>longitude</key>
		<string>-122.026288</string>
		<key>latitude</key>
		<string>37.417556</string>
		<key>title</key>
		<string>Building A Parking Lot</string>
	</dict>
	<key>New item - 8</key>
	<dict>
		<key>longitude</key>
		<string>-122.025515</string>
		<key>latitude</key>
		<string>37.417023</string>
		<key>connector</key>
		<string>the</string>
		<key>title</key>
		<string>Turnaround</string>
	</dict>
	<key>New item - 7</key>
	<dict>
		<key>longitude</key>
		<string>-122.024912</string>
		<key>title</key>
		<string>Tables near D entrance</string>
		<key>connector</key>
		<string>the</string>
		<key>latitude</key>
		<string>37.417785</string>
	</dict>
	<key>New item - 6</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>longitude</key>
		<string>-122.024746</string>
		<key>latitude</key>
		<string>37.418725</string>
		<key>title</key>
		<string>Volleyball Courts</string>
	</dict>
	<key>New item - 5</key>
	<dict>
		<key>longitude</key>
		<string>-122.025830</string>
		<key>latitude</key>
		<string>37.418245</string>
		<key>connector</key>
		<string>the</string>
		<key>title</key>
		<string>bridge connecting Buildings A and B</string>
	</dict>
	<key>New item - 4</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>longitude</key>
		<string>-122.025398</string>
		<key>latitude</key>
		<string>37.418325</string>
		<key>title</key>
		<string>Lawn</string>
	</dict>
	<key>New item - 3</key>
	<dict>
		<key>longitude</key>
		<string>-122.025307</string>
		<key>latitude</key>
		<string>37.417617</string>
		<key>connector</key>
		<string>the</string>
		<key>title</key>
		<string>Lawn</string>
	</dict>
	<key>New item - 2</key>
	<dict>
		<key>title</key>
		<string>Yahoo! sign on First and Mathilda</string>
		<key>longitude</key>
		<string>-122.024829</string>
		<key>latitude</key>
		<string>37.416266</string>
		<key>connector</key>
		<string>the</string>
	</dict>
	<key>New item</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>latitude</key>
		<string>37.417945</string>
		<key>longitude</key>
		<string>-122.024489</string>
		<key>title</key>
		<string>Kitchen Area</string>
	</dict>
	<key>Item43</key>
	<dict>
		<key>title</key>
		<string>Building C</string>
		<key>longitude</key>
		<string>-122.024542</string>
		<key>latitude</key>
		<string>37.418362</string>
		<key>connector</key>
		<string></string>
	</dict>
	<key>Item34</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>title</key>
		<string>Stairs to 2nd floor</string>
		<key>latitude</key>
		<string>37.418117</string>
		<key>longitude</key>
		<string>-122.025156</string>
	</dict>
	<key>Item29</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>title</key>
		<string>Food Lines</string>
		<key>latitude</key>
		<string>37.417968</string>
		<key>longitude</key>
		<string>-122.024822</string>
	</dict>
	<key>Item25</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>title</key>
		<string>Tables near utensils</string>
		<key>latitude</key>
		<string>37.417856</string>
		<key>longitude</key>
		<string>-122.024872</string>
	</dict>
	<key>Item26</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>title</key>
		<string>Tables near dish drop</string>
		<key>latitude</key>
		<string>37.417986</string>
		<key>longitude</key>
		<string>-122.025106</string>
	</dict>
	<key>Item24</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>latitude</key>
		<string>37.417749</string>
		<key>longitude</key>
		<string>-122.024640</string>
		<key>title</key>
		<string>Tables next to drink refrigerator</string>
	</dict>
	<key>Item23</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>title</key>
		<string>URLs Store</string>
		<key>latitude</key>
		<string>37.418236</string>
		<key>longitude</key>
		<string>-122.024993</string>
	</dict>
	<key>Item22</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>title</key>
		<string>Tables near D</string>
		<key>latitude</key>
		<string>37.417607</string>
		<key>longitude</key>
		<string>-122.024917</string>
	</dict>
	<key>Item21</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>title</key>
		<string>Tables next to FYI stage</string>
		<key>latitude</key>
		<string>37.417865</string>
		<key>longitude</key>
		<string>-122.025109</string>
	</dict>
	<key>Item20</key>
	<dict>
		<key>title</key>
		<string>Tables near A</string>
		<key>connector</key>
		<string>the</string>
		<key>latitude</key>
		<string>37.418141</string>
		<key>longitude</key>
		<string>-122.025511</string>
	</dict>
	<key>Item19</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>title</key>
		<string>Tables near the gym</string>
		<key>latitude</key>
		<string>37.418312</string>
		<key>longitude</key>
		<string>-122.025097</string>
	</dict>
	<key>Item18</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>title</key>
		<string>Tables near the lawn</string>
		<key>latitude</key>
		<string>37.417829</string>
		<key>longitude</key>
		<string>-122.025279</string>
	</dict>
	<key>Item17</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>title</key>
		<string>URLs A/B Entrance</string>
		<key>latitude</key>
		<string>37.418066</string>
		<key>longitude</key>
		<string>-122.025146</string>
	</dict>
	<key>Item16</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>title</key>
		<string>Dish Drop</string>
		<key>latitude</key>
		<string>37.417944</string>
		<key>longitude</key>
		<string>-122.025040</string>
	</dict>
	<key>Item15</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>title</key>
		<string>Basketball Courts</string>
		<key>latitude</key>
		<string>37.418725</string>
		<key>longitude</key>
		<string>-122.024909</string>
	</dict>
	<key>Item14</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>title</key>
		<string>Lawn</string>
		<key>latitude</key>
		<string>37.418030</string>
		<key>longitude</key>
		<string>-122.025341</string>
	</dict>
	<key>Item13</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>title</key>
		<string>URLs D Entrance</string>
		<key>latitude</key>
		<string>37.417710</string>
		<key>longitude</key>
		<string>-122.024798</string>
	</dict>
	<key>Item12</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>title</key>
		<string>Utensils Area</string>
		<key>latitude</key>
		<string>37.417877</string>
		<key>longitude</key>
		<string>-122.024846</string>
	</dict>
	<key>Item11</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>title</key>
		<string>Fountain</string>
		<key>latitude</key>
		<string>37.417294</string>
		<key>longitude</key>
		<string>-122.025311</string>
	</dict>
	<key>Item10</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>longitude</key>
		<string>-122.024860</string>
		<key>latitude</key>
		<string>37.417636</string>
		<key>title</key>
		<string>BBQ Grills</string>
	</dict>
	<key>Item9</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>title</key>
		<string>FYI Stage</string>
		<key>latitude</key>
		<string>37.417900</string>
		<key>longitude</key>
		<string>-122.025195</string>
	</dict>
	<key>Item8</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>title</key>
		<string>Ice Cream Machine</string>
		<key>latitude</key>
		<string>37.417812</string>
		<key>longitude</key>
		<string>-122.024524</string>
	</dict>
	<key>Item7</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>title</key>
		<string>Espresso Bar</string>
		<key>latitude</key>
		<string>37.418040</string>
		<key>longitude</key>
		<string>-122.025004</string>
	</dict>
	<key>Item6</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>title</key>
		<string>Gym</string>
		<key>latitude</key>
		<string>37.418439</string>
		<key>longitude</key>
		<string>-122.024876</string>
	</dict>
	<key>Item5</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>title</key>
		<string>Drink Refrigerator</string>
		<key>latitude</key>
		<string>37.417717</string>
		<key>longitude</key>
		<string>-122.024500</string>
	</dict>
	<key>Item1</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>longitude</key>
		<string>-122.024365</string>
		<key>latitude</key>
		<string>37.418789</string>
		<key>title</key>
		<string>Garage</string>
	</dict>
	<key>Item2</key>
	<dict>
		<key>connector</key>
		<string></string>
		<key>latitude</key>
		<string>37.417762 </string>
		<key>longitude</key>
		<string>-122.025911</string>
		<key>title</key>
		<string>Building A</string>
	</dict>
	<key>Item3</key>
	<dict>
		<key>connector</key>
		<string></string>
		<key>latitude</key>
		<string>37.418956</string>
		<key>longitude</key>
		<string>-122.025768</string>
		<key>title</key>
		<string>Building B</string>
	</dict>
	<key>Item4</key>
	<dict>
		<key>connector</key>
		<string></string>
		<key>latitude</key>
		<string>37.417299</string>
		<key>longitude</key>
		<string>-122.025054</string>
		<key>title</key>
		<string>Building D</string>
	</dict>
	<key>Item35</key>
	<dict>
		<key>connector</key>
		<string></string>
		<key>latitude</key>
		<string>37.415707</string>
		<key>longitude</key>
		<string>-122.025496</string>
		<key>title</key>
		<string>Building E</string>
	</dict>
	<key>Item36</key>
	<dict>
		<key>connector</key>
		<string></string>
		<key>latitude</key>
		<string>37.415281</string>
		<key>longitude</key>
		<string>-122.024263</string>
		<key>title</key>
		<string>Building F</string>
	</dict>
	<key>Item37</key>
	<dict>
		<key>connector</key>
		<string></string>
		<key>latitude</key>
		<string>37.414556</string>
		<key>longitude</key>
		<string>-122.024165</string>
		<key>title</key>
		<string>Building G</string>
	</dict>
	<key>Item38</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>latitude</key>
		<string>37.417815 </string>
		<key>longitude</key>
		<string>-122.024662</string>
		<key>title</key>
		<string>Table with the stools</string>
	</dict>
	<key>Item39</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>latitude</key>
		<string>37.417674</string>
		<key>longitude</key>
		<string>-122.024682</string>
		<key>title</key>
		<string>Tables outside near drink fridge</string>
	</dict>
	<key>Item40</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>latitude</key>
		<string>37.417718</string>
		<key>longitude</key>
		<string>-122.024950</string>
		<key>title</key>
		<string>Tables outside near URLs D entrance</string>
	</dict>
	<key>Item41</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>latitude</key>
		<string>37.417920</string>
		<key>longitude</key>
		<string>-122.025243</string>
		<key>title</key>
		<string>Tables outside near URLs A/B entrance</string>
	</dict>
	<key>Item42</key>
	<dict>
		<key>connector</key>
		<string>the</string>
		<key>latitude</key>
		<string>37.417779</string>
		<key>longitude</key>
		<string>-122.024468</string>
		<key>title</key>
		<string>dessert/flavored water area</string>
	</dict>
</dict>
</plist>
